@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro,
    cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy,
    wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade,
    night, coffee, winter;
}
body {
  font-family: "Montserrat", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}
